@page
@model CapPortal.Pages.DecisionSupportModel
@{
    ViewData["Title"] = "Decision Support";
}

<div class="text-center">
    <h1>Decision Support</h1>
    <p>Welcome to Decision Support Module</p>
</div>