@page
@model CapPortal.Pages.TalentInsightsModel
@{
    ViewData["Title"] = "Talent Insights";
}

<div class="text-center">
    <h1>Talent Insights</h1>
    <p>Welcome to Talent Insights Module</p>
</div>